*{
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}


.nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  padding: 5px;
  font-size: 1em;
  color: black;
}

.links{
  cursor: pointer;
}

/*#logo {

  display: flex;
  margin-top: 48%;
  justify-content: space-around;
  height: 25vh;
  padding: 10px;




}*/
.logo{
  height: 270px;
  right: 97px;
  position: absolute;
  top: 118px;

}






.detailURL {
  color: black;
}

.main-container {
background-image: url("/vineyard.jpg");
height: 100vh;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;




}
.searchBar {
  height: 30px;
  width: 250px;
  border: none;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 12px;
  background-color: 5px 5px rgba(200, 80, 150, 0.5)

}

input[type=text] {
    background: rgba(200, 80, 150, 0.7);
    color: white;
}

 #submit {
   color: rgba(200, 80, 150, 0.5);
   font-weight: bold;
   font-size: 20px;
   /*background-color: rgba(200, 80, 150, 0.5);*/
   padding: 10px;
   border-radius: 12px;
   height: 100%;

 }
