#map_container{
  display: flex;
  justify-content: center;
  /*align-item: center;*/
}

#map {
  height: 500px;
  width: 100%;
  border: solid black 2px;
}

.winery-list {
  display: flex;
  flex-wrap: wrap;
}

.winery-list li {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
}
